<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">What is Material CSS?</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">Material CSS is a light CSS framework that allows you to create web apps with Material Design look&amp;feel, and totally responsive.</p>
		<p class="mc-text">This means you can create webs that will be displayed properly on Mobiles, Tablets, PCs and TVs, following the design guidelings proposed by Google for Android Apps.</p>
	</div>
	<div class="mc-footer"></div>
</div>

<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">When using Material CSS?</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">You can use Material CSS whenever you want.</p>
		<p class="mc-text">If you want to create a website, a webapp, an extension for a browser... You can use Material Design on every development that uses CSS and JS.</p>
	</div>
	<div class="mc-footer"></div>
</div>

<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">Why Material CSS?</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">We have designed Material CSS in order to facilitate the creation of beautiful apps, so we can spend more time working on the app flow.</p>
		<p class="mc-text">Another point that we have considered is to create homogeneous applications that are familiar to the user.</p>
	</div>
	<div class="mc-footer"></div>
</div>

<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">How does Material CSS work?</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">Material CSS has 2 files that must be used in order to work properly.</p>
		<p class="mc-text">In one hand, we have the CSS file, that will set the styles and animations. In the other hand, e have a Javascript file, that will set some events to start these animations.</p>
		<p class="mc-text">Optionally, there are some custom CSS themes that allows you to color your app like some famous applications.</p>
	</div>
	<div class="mc-footer"></div>
</div>

<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">Where can I use Material CSS?</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">Material CSS has been designed with the modern browsers in mind. So the apps you create with this framework will be compatible with:</p>
			<ul class="mc-list">
				<li class="mc-list-item">Google Chrome</li>
				<li class="mc-list-item">Mozilla Firefox,</li>
				<li class="mc-list-item">Internet Explorer 11</li>
				<li class="mc-list-item">Opera</li>
			</ul>
		
		<p class="mc-text">On mobiles and tablets, it'll work on:</p>
			<ul class="mc-list">
				<li class="mc-list-item">Google Chrome</li>
				<li class="mc-list-item">Mozilla Firefox</li>
				<li class="mc-list-item">Opera</li>
				<li class="mc-list-item">Dolphin Browser</li>
				<li class="mc-list-item">Safari</li>
			</ul>
		<br />
		<br />
	</div>
	<div class="mc-footer"></div>
</div>

<div class="mc-card">
	<div class="mc-header">
		<h1 class="mc-title">Collaborate</h1>
	</div>
	<div class="mc-content">
		<p class="mc-text">If you want, you can help to make Material CSS even better. Please, go to GitGub and share with us your ideas:</p>
		<a href="http://www.github.com/imperdiblesoft/material-css" target="_blank" class="mc-button mc-button-comb mc-clickable mc-button-raised" mc-action="github" >Github</a>
	</div>
	<div class="mc-footer"></div>
</div>