<p class="mc-text">Coloring components it's really easy with Material CSS. There are 2 kind of classes for color your components.</p>

<h1 class="mc-title" alt="main-color">Main color</h1>
<p class="mc-text">Adding the class "<b>mc-color-blue</b>" the component will color its text and icons with blue. You can change "blue" for any color from the list.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;span class="mc-button mc-button-text <b>mc-color-blue</b>"&gt;Colored Button&lt;/span&gt;</li>
</ul>
<br />
<span class="mc-button mc-button-text mc-bg-white mc-button-raised mc-color-black">mc-color-black</span>
<span class="mc-button mc-button-text mc-bg-white mc-button-raised mc-color-green">mc-color-green</span>
<span class="mc-button mc-button-text mc-bg-white mc-button-raised mc-color-blue">mc-color-blue</span>
<span class="mc-button mc-button-text mc-bg-white mc-button-raised mc-color-red">mc-color-red</span>
<br />

<h1 class="mc-title" alt="bg-color">Background color</h1>
<p class="mc-text">Adding the class "<b>mc-bg-blue</b>" the component will color its background with blue. You can change "blue" for any color from the list.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;span class="mc-button mc-button-text <b>mc-bg-blue</b>"&gt;Colored Button&lt;/span&gt;</li>
</ul>
<br />
<span class="mc-button mc-button-text mc-bg-white mc-button-raised mc-color-black">mc-bg-white</span>
<span class="mc-button mc-button-text mc-bg-green mc-button-raised mc-color-white">mc-bg-green</span>
<span class="mc-button mc-button-text mc-bg-blue mc-button-raised mc-color-white">mc-bg-blue</span>
<span class="mc-button mc-button-text mc-bg-red mc-button-raised mc-color-white">mc-bg-red</span>
<br />

<h1 class="mc-title" alt="color-palette">Color palette</h1>
<p class="mc-text">Here is a list with available colors to use:</p>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-black mc-bg-transparent">transparent (only background)</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-black mc-color-white">white</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-black mc-bg-white">white</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-grey">grey</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-grey">grey</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-black">black</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-black">black</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-yellow">yellow</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-yellow">yellow</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-darkyellow">darkyellow</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-darkyellow">darkyellow</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-orange">orange</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-orange">orange</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-darkorange">darkorange</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-darkorange">darkorange</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-red">red</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-red">red</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-pink">pink</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-pink">pink</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-purple">purple</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-purple">purple</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-darkpurple">darkpurple</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-darkpurple">darkpurple</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-lightblue">lightblue</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-lightblue">lightblue</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-blue">blue</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-blue">blue</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-darkblue">darkblue</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-darkblue">darkblue</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-lightgreen">lightgreen</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-lightgreen">lightgreen</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-green">green</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-green">green</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-darkgreen">darkgreen</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-darkgreen">darkgreen</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-brown">brown</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-brown">brown</span>
<br />

<h1 class="mc-title" alt="special-colors">Special colors</h1>
<p class="mc-text">We also have available some colors used by some of the the main internet companies.</p>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-imperdiblesoft">imperdiblesoft</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-imperdiblesoft">imperdiblesoft</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-facebook">facebook</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-facebook">facebook</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-google">google</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-google">google</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-twitter">twitter</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-twitter">twitter</span>
<br />
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-bg-white mc-color-spotify">spotify</span>
<span class="mc-button mc-button-text mc-button-raised mc-clickable mc-color-white mc-bg-spotify">spotify</span>
<br />
