<p class="mc-text">We also provide you a template with custom colors.</p>
<p class="mc-text">Instead of coloring the items with color classes (mc-color-blue, mc-bg-blue, etc...), you can use these custom colors to define custom colors and change them very quickly.</p>

<h1 class="mc-title" alt="main">Main color</h1>
<p class="mc-text">Main color has 3 classes dedicated to define its color behaiviour:</p>
<ul class="mc-list">
	<li><b>.mc-color-main</b>: This class define the color of this item will be colored with the main color.</li>
	<li><b>.mc-bg-main</b>: This class define the background of this item will be colored with the main color.</li>
	<li><b>.mc-bg-main:active</b>: This class modifies the background of this item when clicking on it.</li>
</ul>
<br />

<h1 class="mc-title" alt="secondary">Secondary color</h1>
<p class="mc-text">Secondary color has 3 classes dedicated to define its color behaiviour:</p>
<ul class="mc-list">
	<li><b>.mc-color-secondary</b>: This class define the color of this item will be colored with the secondary color.</li>
	<li><b>.mc-bg-secondary</b>: This class define the background of this item will be colored with the secondary color.</li>
	<li><b>.mc-bg-secondary:active</b>: This class modifies the background of this item when clicking on it.</li>
</ul>
<br />

<p class="mc-text">You can download a sample file here:</p>
<button class="mc-button mc-button-comb mc-clickable mc-button-raised" mc-action="download" data-ng-click="downloadCustomColors()">Download</button>
