<p class="mc-text">Material CSS provides you a gallery of Material Design icons that you can use in your app.</p>
<p class="mc-text">To learn how to use them, go to the <a href="#/buttons">Buttons</a> section.</p>

<h1 class="mc-subtitle">Sections</h1>
<span class="mc-button mc-button-comb" mc-action="home">			home		</span>
<span class="mc-button mc-button-comb" mc-action="gallery">		gallery		</span>
<span class="mc-button mc-button-comb" mc-action="help">			help			</span>
<span class="mc-button mc-button-comb" mc-action="info">			info			</span>
<br />

<h1 class="mc-subtitle">Navigation</h1>
<span class="mc-button mc-button-comb" mc-action="menu">			menu		</span>
<span class="mc-button mc-button-comb" mc-action="navigation">	navigation	</span>
<span class="mc-button mc-button-comb" mc-action="prev">			prev			</span>
<span class="mc-button mc-button-comb" mc-action="scroll-top">	scroll-top	</span>
<span class="mc-button mc-button-comb" mc-action="scroll-down">scroll-down</span>
<span class="mc-button mc-button-comb" mc-action="next">			next			</span>
<span class="mc-button mc-button-comb" mc-action="search">		search		</span>
<span class="mc-button mc-button-comb" mc-action="refresh">		refresh		</span>
<span class="mc-button mc-button-comb" mc-action="cancel">		cancel		</span>
<span class="mc-button mc-button-comb" mc-action="details">		details		</span>
<br />

<h1 class="mc-subtitle">Socials</h1>
<span class="mc-button mc-button-comb" mc-action="account">		account		</span>
<span class="mc-button mc-button-comb" mc-action="user">			user			</span>
<span class="mc-button mc-button-comb" mc-action="favorite">		favorite		</span>
<span class="mc-button mc-button-comb" mc-action="like">			like			</span>
<span class="mc-button mc-button-comb" mc-action="share">			share		</span>
<span class="mc-button mc-button-comb" mc-action="comment">	comment	</span>
<span class="mc-button mc-button-comb" mc-action="forums">		forums		</span>
<br />

<h1 class="mc-subtitle">Comunication</h1>
<span class="mc-button mc-button-comb" mc-action="email">			email		</span>
<span class="mc-button mc-button-comb" mc-action="phone">		phone		</span>
<span class="mc-button mc-button-comb" mc-action="message">	message	</span>
<span class="mc-button mc-button-comb" mc-action="send">			send			</span>
<br />

<h1 class="mc-subtitle">Actions</h1>
<span class="mc-button mc-button-comb" mc-action="done">			done			</span>
<span class="mc-button mc-button-comb" mc-action="add">			add			</span>
<span class="mc-button mc-button-comb" mc-action="edit">			edit			</span>
<span class="mc-button mc-button-comb" mc-action="cut">			cut			</span>
<span class="mc-button mc-button-comb" mc-action="copy">			copy			</span>
<span class="mc-button mc-button-comb" mc-action="paste">			paste		</span>
<span class="mc-button mc-button-comb" mc-action="undo">			undo			</span>
<span class="mc-button mc-button-comb" mc-action="redo">			redo			</span>
<span class="mc-button mc-button-comb" mc-action="delete">		delete		</span>
<span class="mc-button mc-button-comb" mc-action="remove">		remove		</span>
<span class="mc-button mc-button-comb" mc-action="upload">		upload		</span>
<span class="mc-button mc-button-comb" mc-action="download">	download	</span>
<span class="mc-button mc-button-comb" mc-action="sync">			sync			</span>
<span class="mc-button mc-button-comb" mc-action="external">		external	</span>
<br />

<h1 class="mc-subtitle">Multimedia</h1>
<span class="mc-button mc-button-comb" mc-action="play">			play			</span>
<span class="mc-button mc-button-comb" mc-action="pause">		pause		</span>
<span class="mc-button mc-button-comb" mc-action="stop">			stop			</span>
<span class="mc-button mc-button-comb" mc-action="music-next">	music-next</span>
<span class="mc-button mc-button-comb" mc-action="music-prev">	music-prev</span>
<span class="mc-button mc-button-comb" mc-action="playlist">		playlist		</span>
<span class="mc-button mc-button-comb" mc-action="volume-up">	volume-up	</span>
<span class="mc-button mc-button-comb" mc-action="volume-down">volume-down</span>
<span class="mc-button mc-button-comb" mc-action="volume-off">	volume-off</span>
<br />

<h1 class="mc-subtitle">Config</h1>
<span class="mc-button mc-button-comb" mc-action="options-h">	options-h	</span>
<span class="mc-button mc-button-comb" mc-action="options-v">	options-v	</span>
<span class="mc-button mc-button-comb" mc-action="settings">		settings		</span>
<br />

<h1 class="mc-subtitle">Misc</h1>
<span class="mc-button mc-button-comb" mc-action="colors">		colors		</span>
<span class="mc-button mc-button-comb" mc-action="text">			text			</span>
<span class="mc-button mc-button-comb" mc-action="button">		button		</span>
<span class="mc-button mc-button-comb" mc-action="layout">		layout		</span>
<span class="mc-button mc-button-comb" mc-action="cards">			cards		</span>
<span class="mc-button mc-button-comb" mc-action="icon">			icon			</span>
<span class="mc-button mc-button-comb" mc-action="list">				list			</span>
<span class="mc-button mc-button-comb" mc-action="location">		location		</span>
<span class="mc-button mc-button-comb" mc-action="popup">		popup		</span>
<span class="mc-button mc-button-comb" mc-action="picker">		picker		</span>
<span class="mc-button mc-button-comb" mc-action="notifications">notifications</span>
<span class="mc-button mc-button-comb" mc-action="animal">		animal</span>
<br />

<h1 class="mc-subtitle">Logos</h1>
<span class="mc-button mc-button-comb" mc-action="imperdiblesoft">imperdiblesoft</span>
<span class="mc-button mc-button-comb" mc-action="facebook">	facebook	</span>
<span class="mc-button mc-button-comb" mc-action="google-plus">google-plus</span>
<span class="mc-button mc-button-comb" mc-action="twitter">		twitter		</span>
<span class="mc-button mc-button-comb" mc-action="linkedin">		linkedin		</span>
<span class="mc-button mc-button-comb" mc-action="skype">		skype		</span>
<span class="mc-button mc-button-comb" mc-action="whatsapp">	whatsapp	</span>
<span class="mc-button mc-button-comb" mc-action="instagram">	instagram	</span>
<span class="mc-button mc-button-comb" mc-action="youtube">		youtube	</span>
<span class="mc-button mc-button-comb" mc-action="soundcloud">	soundcloud</span>
<span class="mc-button mc-button-comb" mc-action="github">		github		</span>
<br />

<p class="mc-note">*Note: The only custom color for icons is "mc-color-white". Using any other color will display a black icon.</p>
