<p class="mc-text">If you need help, have any doubt or want to talk with us, feel free to contact us on:</p>

<div class="mc-layout" mc-layout="1">
	<div class="mc-layout"  mc-layout-size="small">
		<div class="mc-card">
			<div class="mc-header">
				<img src="images/logos/imperdiblesoft.jpg" />
				<h1 class="mc-title">ImperdibleSoft</h1>
				<h1 class="mc-subtitle">Support</h1>
			</div>
			<div class="mc-content" mc-layout="list">
				<h1 class="mc-subtitle">Traditional</h1>
				<div class="mc-list-item" mc-action="email">
					<a href="mailto:info@imperdiblesoft.com" target="_blank" class="mc-button mc-button-icon mc-clickable" mc-action="send"></a>
					<p class="mc-title">info@imperdiblesoft.com</p>
					<p class="mc-note">Email</p>
				</div>
				<div class="mc-list-item" mc-action="phone">
					<a href="tel:+549223634-9101" target="_blank" class="mc-button mc-button-icon mc-clickable" mc-action="phone"></a>
					<p class="mc-title">+54 9 (223) 634-9101</p>
					<p class="mc-note">Phone</p>
				</div>
				
				<h1 class="mc-subtitle">Comunity</h1>
				<div class="mc-list-item" mc-action="forums">
					<a href="http://forums.imperdiblesoft.com/viewforum.php?f=6&sid=cbd81eb72281ccb14bc79d34852b8bb1" target="_blank" class="mc-button mc-button-icon mc-clickable" mc-action="external"></a>
					<p class="mc-title">http://forums.imperdiblesoft.com</p>
					<p class="mc-note">Forums</p>
				</div>
			</div>
			<div class="mc-footer">
				<a class="mc-button mc-button-icon mc-clickable" href="https://github.com/imperdiblesoft/material-css" target="_blank" mc-action="github" mc-tooltip="forkus"></a>
				<span class="mc-tooltip" mc-item="forkus">Fork Material CSS on Github</span>
				
				<a class="mc-button mc-button-icon mc-clickable" href="https://www.linkedin.com/company/imperdiblesoft" target="_blank" mc-action="linkedin" mc-tooltip="linkedin"></a>
				<span class="mc-tooltip" mc-item="linkedin">Visit ImperdibleSoft on LinkedIn</span>
				
				<a class="mc-button mc-button-icon mc-clickable" href="https://twitter.com/imperdiblesoft" target="_blank" mc-action="twitter" mc-tooltip="twitter"></a>
				<span class="mc-tooltip" mc-item="twitter">Visit ImperdibleSoft Twitter</span>
				
				<a class="mc-button mc-button-icon mc-clickable" href="https://plus.google.com/+Imperdiblesoft" target="_blank" mc-action="google-plus" mc-tooltip="google-plus"></a>
				<span class="mc-tooltip" mc-item="google-plus">Visit ImperdibleSoft Google+</span>
				
				<a class="mc-button mc-button-icon mc-clickable" href="https://www.facebook.com/imperdiblesoft" target="_blank" mc-action="facebook" mc-tooltip="facebook"></a>
				<span class="mc-tooltip" mc-item="facebook">Visit ImperdibleSoft on Facebook</span>
				
				<a class="mc-button mc-button-icon mc-clickable" href="http://www.imperdiblesoft.com" target="_blank" mc-action="imperdiblesoft" mc-tooltip="imperdiblesoft"></a>
				<span class="mc-tooltip" mc-item="imperdiblesoft">Visit ImperdibleSoft website</span>
			</div>
		</div>
	</div>
</div>