<p class="mc-text">Sometimes we need to show a lot of data in a reduced space. Tables are good for that, so we need to display them as beautiful as we can.</p>
<p class="mc-text">Adding the class "<b>mc-table</b>" to your table you'll be able to create your table normally, and it'll looks as great as this.</p>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;td&gt; Data 1 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 2 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 3 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 4 &lt;/td&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table">
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
</table>
<br />

<h1 class="mc-title" alt="titles">Titles</h1>
<p class="mc-text">An important element on tables are the titles. For this, we have given an special format to "<b>th</b>" elements, so you can use these elemens as usual.</p>

<h2 class="mc-subtitle">First row</h2>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th&gt; Title 1 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 2 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 3 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 4 &lt;/th&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table">
	<tr>
		<th> Title 1 </th>
		<th> Title 2 </th>
		<th> Title 3 </th>
		<th> Title 4 </th>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
</table>
<br />

<h2 class="mc-subtitle">First column</h2>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th&gt; Title 1 &lt;/th&gt;</li>
					<li>&lt;td&gt; Data 1 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 2 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 3 &lt;/td&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table">
	<tr>
		<th> Title 1 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 2 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 3 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 4 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
</table>
<br />

<h2 class="mc-subtitle">Combined</h2>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th class="mc-table-hidden" &gt;  &lt;/th&gt;</li>
					<li>&lt;th&gt; Title A &lt;/th&gt;</li>
					<li>&lt;th&gt; Title B &lt;/th&gt;</li>
					<li>&lt;th&gt; Title C &lt;/th&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th&gt; Title 1 &lt;/th&gt;</li>
					<li>&lt;td&gt; Data 1 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 2 &lt;/td&gt;</li>
					<li>&lt;td&gt; Data 3 &lt;/td&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table">
	<tr>
		<th class="mc-table-hidden"> </th>
		<th> Title A </th>
		<th> Title B </th>
		<th> Title C </th>
	</tr>
	<tr>
		<th> Title 1 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 2 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 3 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
	<tr>
		<th> Title 4 </th>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
	</tr>
</table>
<br />
<p class="mc-note">*Note that we used the "<b>mc-table-hidden</b>" class for hidding the first cell on the first row.</p>

<h1 class="mc-title" alt="organization">Organization</h1>
<p class="mc-text">Maybe we have too many rows, or columns, and we want to differentiate them easily. For that, we have implemented two classes that will help you to do that.</p>

<h2 class="mc-subtitle">mc-horizontal</h2>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table mc-horizontal"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th&gt; Title 1 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 2 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 3 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 4 &lt;/th&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table mc-horizontal">
	<tr>
		<th> Title 1 </th>
		<th> Title 2 </th>
		<th> Title 3 </th>
		<th> Title 4 </th>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
</table>
<br />

<h2 class="mc-subtitle">mc-vertical</h2>
<ul class="mc-list mc-list-clean mc-code">
	<li>&lt;table class="mc-table mc-vertical"&gt;</li>
		<ul>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>&lt;th&gt; Title 1 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 2 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 3 &lt;/th&gt;</li>
					<li>&lt;th&gt; Title 4 &lt;/th&gt;</li>
				</ul>
			<li>&lt;/tr&gt;</li>
			<li>&lt;tr&gt;</li>
				<ul>
					<li>...</li>
				</ul>
			<li>&lt;/tr&gt;</li>
		</ul>
	<li>&lt;/table&gt;</li>
</ul>
<br />
<table class="mc-table mc-vertical">
	<tr>
		<th> Title 1 </th>
		<th> Title 2 </th>
		<th> Title 3 </th>
		<th> Title 4 </th>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
	<tr>
		<td> Data 1 </td>
		<td> Data 2 </td>
		<td> Data 3 </td>
		<td> Data 4 </td>
	</tr>
</table>
<br />

