<p class="mc-text">Texts are the most important element on your web. Is the only element that the user can read and understand.</p>

<h1 class="mc-title" alt="titles">Titles</h1>
<p class="mc-text">By adding the class "<b>mc-title</b>", you will set the text as the main text.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;h1 class="mc-title"&gt;My Title&lt;/h1&gt;</li>
</ul>
<h1 class="mc-title">My Title</h1>
<div class="mc-card">
  <div class="mc-content">
    <h1 class="mc-title">My Title</h1>
    <br />
    <br />
  </div>
</div>
<br />
<p class="mc-note">*The title will take different styles depending on the situation.</p>
<br />

<h1 class="mc-title" alt="subtitles">Subtitles</h1>
<p class="mc-text">By adding the class "<b>mc-subtitle</b>", you will set the text as the secondary tittle.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;h2 class="mc-subtitle"&gt;My Subtitle&lt;/h2&gt;</li>
</ul>
<h2 class="mc-subtitle">My Subtitle</h2>
<div class="mc-card">
  <div class="mc-content">
    <h2 class="mc-subtitle">My Subtitle</h2>
    <br />
    <br />
  </div>
</div>
<br />
<p class="mc-note">*The subtitle will take different styles depending on the situation.</p>
<br />

<h1 class="mc-title" alt="normal">Normal text</h1>
<p class="mc-text">By adding the class "<b>mc-text</b>", you will set the text as normal text.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;p class="mc-text"&gt;My Text&lt;/p&gt;</li>
</ul>
<p class="mc-text">My Text</p>
<div class="mc-card">
  <div class="mc-content">
    <p class="mc-text">My Text</p>
  </div>
</div>
<br />
<p class="mc-note">*The text will take different styles depending on the situation.</p>
<br />

<h1 class="mc-title" alt="notes">Legends and Notes</h1>
<p class="mc-text">If you add the class "<b>mc-note</b>", you will set the text as small and italic text.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;p class="mc-note"&gt;My Note&lt;/p&gt;</li>
</ul>
<br />
<p class="mc-note">My Note</p>
<br />

<h1 class="mc-title" alt="others">Others</h1>
<p class="mc-text mc-justified">We also provide you several classes to modify your text, such as "<b>mc-justified</b>", so your text will be like that: justified.</p>
<ul class="mc-list mc-list-clean mc-code">
  <li>&lt;p class="mc-text mc-justified"&gt;Here goes my justified text.&lt;/p&gt;</li>
</ul>
<br />
<ul class="mc-list">
  <li>mc-left</li>
  <li>mc-justified</li>
  <li>mc-center</li>
  <li>mc-right</li>
</ul>
<br />

<p class="mc-text">Another very cool thing are pills, so you can have some kind of indicator like <span class="mc-pill mc-bg-red">Alert</span> or <span class="mc-pill mc-bg-green">Ok</span>, or even <span class="mc-big-pill mc-bg-orange">Warning</span>.</p>
<p class="mc-text">You can use <i>mc-pill</i> or <i>mc-big-pill</i> along with our background and color classes to customize your own pill.</p>
