
body{

  // Standard header
  & > .mc-header{
    position: fixed;
    display: inline-block;
    float: left;

    width: 80%;
    left: 20%;
    top: 0px;
    margin: 0px;
    padding: 0px;

    background-color: $header-bg;
    box-shadow: 0px 1px 3px $shadow;
    box-sizing: border-box;
    z-index: 150;

    .mc-button{
      background-color: $header-bg;
      z-index: 100;
    }
    & .mc-title, & .mc-subtitle, & .mc-text, & .mc-note{
      line-height: inherit;
    }

    // Header lines
    & > .mc-header-line{
      position: relative;
      display: inline-block;
      float: left;

      width: 100%;
      height: 56px;
      padding: 0px;
      margin: 0px;

      box-sizing: border-box;
      & > .mc-right{
        margin: 0px 4px;
      }
    }

    // Tabs bar
    & > .mc-tabs-bar{
      position: relative;
      display: block;
      float: left;

      width: 100%;
      height: 0px;
      padding: 0px 10px;
      margin: 0px;

      box-sizing: border-box;
      transition: 0s all;
      -webkit-transition: 0s all;
      -moz-transition: 0s all;
      overflow: hidden;

      & > .mc-tab{
        position: relative;
        display: none;
        float: left;

        width: auto;
        height: 56px;
        padding: 17px 20px;
        padding-bottom: 16px;
        margin: 0px;

        color: $dark-text;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;

        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        &.mc-selected{
          border-color: $white;
        }
      }
      &.mc-opened{
        height: 56px;
        & > .mc-tab{
          display: inline-block;
        }
      }
    }
  }

  // Front layout
  &[mc-layout="front"] > .mc-header{
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;

    overflow: hidden;
    z-index: 1;

    transition: 0s all;
    -webkit-transition: 0s all;
    -moz-transition: 0s all;

    img{
      position: absolute;
      display: block;
      float: none;

      width: 110%;
      min-height: 110%;
      max-width: none;
      top: 0px;
      left: 0px;
      margin-left: -5%;

      transition: 0s all;
      -webkit-transition: 0s all;
      -moz-transition: 0s all;
    }
    & > .mc-header-line *:not([mc-action="menu"]), & > .mc-tabs-bar{
      display: none;
    }
  }

  // No-navigarion layout
  &[mc-layout="no-nav"] > .mc-header{
    width: 100%;
    left: 0px;
  }

  // Hidden-navigation layout
  &[mc-layout="hidden-nav"] > .mc-header{
    width: 100%;
    left: 0px;
  }
}

// PCs, Tablets, Mobiles and Smartwatches
@media screen and (max-width: $max-pcs){

  // Tablets, Mobiles and Smartwatches
  @media screen and (max-width: $max-tablets){

    // Mobiles and Smartwatches
    @media screen and (max-width: $max-mobiles){

        body > .mc-header, .mc-header .mc-header-content{
          width: 100%;
          left: 0px;
        }
        body > .mc-header, .mc-header .mc-header-content{
          z-index: 250;
        }
        body > .mc-header .mc-tabs-bar .mc-tab.mc-selected{
          padding: 18px 20px;
          padding-bottom: 17px;
        }
        body[mc-layout="no-nav"] > .mc-header [mc-action="menu"]{
          display: none;
        }

    }
  }
}

// Mobiles, Tablets, PCs and TVs
@media screen and (min-width: $min-mobiles){

  // Tablets, PCs and TVs
  @media screen and (min-width: $min-tablets){

    body{
      & > .mc-header [mc-action="menu"]{
        display: none;
      }
      &[mc-layout="front"] > .mc-header [mc-action="menu"], &[mc-layout="hidden-nav"] > .mc-header [mc-action="menu"]{
        display: inline-block;
      }
    }

    // PCs and TVs
    @media screen and (min-width: $min-pcs){

    }
  }
}

// Smartwatches
@media screen and (max-width: $max-watches){
  body{
    &:not([mc-layout="front"]) > .mc-header{
      & > .mc-header-line{
        display: inline-block;
        height: 48px;
      }
      & > .mc-tabs-bar.mc-opened{
        height: 48px;
      }
    }
    &[mc-layout="front"] > .mc-header{
      *{
        display: none;
      }
    }
    & > .mc-header{
      & > .mc-header-line{
        & > *{
          display: none;
        }
        .mc-title, .mc-subtitle, .mc-text, .mc-note{
          display: inline-block;

          width: calc(100% - 48px);

          text-align: left;
        }
        .mc-button{
          display: inline-block;
        }
      }
      & > .mc-tabs-bar > .mc-tab{
        height: 48px;
        font-size: 16px;
      }
    }
  }
}

// Only Mobiles
@media screen and (min-width: $min-mobiles) and (max-width: $max-mobiles){

  // Landscape
  @media screen and (orientation: landscape){

    body[mc-layout="front"] > .mc-header{
      height: 200px;
    }
  }
}

// Only Tablets
@media screen and (min-width: $min-tablets) and (max-width: $max-tablets){

  .mc-header .mc-header-content{
    width: 100%;
  }
  body[mc-layout="front"] > .mc-header{
    height: 300px;
  }

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only PCs
@media screen and (min-width: $min-pcs) and (max-width: $max-pcs){

}

// Only TVs
@media screen and (min-width: $min-tvs){

  body > .mc-header{
    width: 85%;
    left: 15%;
  }
}
