<html data-ng-app="materialCSS">
	<head>
		<title>Material CSS</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!--Android -->
		<meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/material_logo.png" />
		<link rel="icon" href="images/material_logo.png" sizes="192x192">
		<meta name="theme-color" content="#FF9800">

		<!-- iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="images/material_logo.png" />

		<!-- inject:css -->
    <!-- endinject -->
	  <link rel="stylesheet" href="http://www.material-css.com/color-themes/default-theme.css">

		<!-- 	Facebook  -->
		<meta property="fb:app_id" content="804230836336073" />
		<meta property="fb:admins" content="1354010527" />
		<meta property="og:site_name" content="Material CSS" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Material CSS" />
		<meta property="og:url" content="http://www.material-css.com" />
		<meta property="og:description" content="Light CSS Framework to create responsive apps following the Material Design guidelines" />
		<meta property="og:image" content="http://www.material-css.com/images/material_logo.png" />

		<!-- Twitter -->
		<meta name="twitter:creator" content="@ImperdibleSoft" />
		<meta name="twitter:domain" content="imperdiblesoft.github.io" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Material CSS" />
		<meta name="twitter:description" content="Light CSS Framework to create responsive apps following the Material Design guidelines" />
		<meta name="twitter:url" content="http://www.material-css.com" />
		<meta name="twitter:image" content="http://www.material-css.com/images/material_logo.png" />

		<!-- Google+ -->
		<link rel="author" href="https://plus.google.com/+Imperdiblesoft/" />
		<meta itemprop="url" content="http://www.material-css.com" />
		<meta itemprop="name" content="Material CSS" />
		<meta itemprop="description" content="Light CSS Framework to create responsive apps following the Material Design guidelines" />
		<meta itemprop="thumbnail" content="http://schema.org/ImageObject" />
		<meta itemprop="thumbnailUrl" content="http://www.material-css.com/images/material_logo.png" />

  </head>
	<body mc-layout="front">

		<div class="mc-splash">
			<div class="mc-content">
				<img src="images/material_logo.png" />
				<div class="mc-spinner mc-color-white mc-bg-orange"></div>
			</div>
		</div>

		<nav class="mc-navigation">

			<div id="normalMenuHeader" class="mc-header-menu">
				<span class="mc-button mc-button-icon" mc-action="menu"></span>
				<span class="mc-button mc-button-icon mc-clickable" mc-action="prev"></span>
				<label class="mc-title">Menu</label>
			</div>

			<div id="accountinfoMenuheader" class="mc-header-menu mc-hidden">
				<img src="images/material_logo.png" />
				<h1 class="mc-title">Rafael Perez Garcia</h1>
				<h1 class="mc-text">real.lord.fido@gmail.com</h1>
			</div>


			<a href="#/" class="mc-nav-item" mc-action="home">Home</a>

			<a class="mc-nav-item" mc-action="cards" mc-menu="elements">Elements</a>
			<span class="mc-collapsed" mc-submenu="elements">
				<a href="#/texts" class="mc-nav-subitem">texts</a>
				<a href="#/icons" class="mc-nav-subitem">icons</a>
				<a href="#/navigation" class="mc-nav-subitem">navigation</a>
				<a href="#/header" class="mc-nav-subitem">header</a>
				<!-- <a href="#/content" class="mc-nav-subitem">content</a> -->
				<a href="#/footer" class="mc-nav-subitem">footer</a>
				<a href="#/layouts" class="mc-nav-subitem">layouts</a>
				<a href="#/buttons" class="mc-nav-subitem">buttons</a>
				<a href="#/lists" class="mc-nav-subitem">lists</a>
				<a href="#/cards" class="mc-nav-subitem">cards</a>
				<a href="#/dialogs" class="mc-nav-subitem">dialogs</a>
				<a href="#/notifications" class="mc-nav-subitem">notifications</a>
				<a href="#/tables" class="mc-nav-subitem">tables</a>
				<a href="#/forms" class="mc-nav-subitem">forms</a>
				<a href="#/floating-windows" class="mc-nav-subitem">Floating windows</a>
			</span>

			<a class="mc-nav-item" mc-action="colors" mc-menu="colorize">Colorize</a>
			<span class="mc-collapsed" mc-submenu="colorize">
				<a href="#/color-classes" class="mc-nav-subitem">Color classes</a>
				<a href="#/custom-colors" class="mc-nav-subitem">Custom Colors</a>
				<a href="#/color-themes" class="mc-nav-subitem">Color Themes</a>
			<!-- <a href="#/theme-creator" class="mc-nav-item" mc-action="settings">Theme Creator</a> -->
			</span>

			<a href="#/tricks" class="mc-nav-item" mc-action="settings">MC-Tricks</a>
			<a href="#/about" class="mc-nav-item" mc-action="info">About</a>
			<a href="#/support" class="mc-nav-item" mc-action="help">support</a>
		</nav>

		<header class="mc-header">
			<div class="mc-header-line">
				<span class="mc-button mc-button-icon mc-clickable" mc-action="menu"></span>
				<label class="mc-title">Home</label>
				<div class="mc-right">
					<a href="#/?download" class="mc-button mc-button-icon mc-clickable" mc-action="download" mc-tooltip="download"></a>
					<div class="mc-tooltip" mc-item="download">Download</div>

					<span class="mc-button mc-button-icon mc-clickable" mc-action="share" onclick="javascript:openShare()" mc-tooltip="share"></span>
					<div class="mc-tooltip" mc-item="share">Share</div>
				</div>
			</div>
			<div class="mc-tabs-bar"></div>
		</header>

		<div class="mc-floating-window mc-hidden">
			<div class="mc-window-header">
				<h1 class="mc-title">Floating window</h1>
				<h2 class="mc-note">floating-window-header</h2>
			</div>
			<div class="mc-window-content">
				<p class="mc-text">This is an <b>mc-text</b> in the <b>mc-window-content</b></p>
			</div>
			<div class="mc-window-footer">
				<p class="mc-note">This is an <b>mc-note</b> in the <b>mc-window-footer</b></p>
			</div>
		</div>
		<div class="mc-floating-window mc-hidden" mc-layout="chat">
			<div class="mc-window-header">
				<img src="images/logos/imperdiblesoft.jpg" />
				<span class="mc-button mc-button-icon" mc-action="options-v"></span>
				<h1 class="mc-title">ImperdibleSoft</h1>
				<h2 class="mc-note">Chat</h2>
			</div>
			<div class="mc-window-content">
				<span class="mc-message">
					<img src="images/logos/imperdiblesoft.jpg" />
					<p class="mc-text">Hello!</p>
				</span>
				<span class="mc-message mc-own">
					<img src="images/material_logo.png" />
					<p class="mc-text">Hi, how are you?</p>
				</span>
				<span class="mc-message">
					<img src="images/logos/imperdiblesoft.jpg" />
					<p class="mc-text">I'm fine! We are working on Material CSS right now.</p>
				</span>
				<span class="mc-message mc-own">
					<img src="images/material_logo.png" />
					<p class="mc-text">Oh! This is a great framework, congrats :)</p>
				</span>
				<span class="mc-message mc-own">
					<img src="images/material_logo.png" />
					<p class="mc-text">Give me one min.</p>
				</span>
				<span class="mc-message mc-own">
					<img src="images/material_logo.png" />
					<p class="mc-text">Ok, I'm ready now. What did you want?</p>
				</span>
				<span class="mc-message">
					<img src="images/logos/imperdiblesoft.jpg" />
					<p class="mc-text">Nothing in special. I just wanted to talk with somebody :P</p>
				</span>
			</div>
			<div class="mc-window-footer">
				<input type="text" />
				<span class="mc-button mc-button-icon" mc-action="send"></span>
			</div>
		</div>
		<div class="mc-floating-window mc-hidden" mc-layout="multimedia" data-ng-controller="mediaPlayerController">
			<div class="mc-window-header">
				<img src="{{ playing.image }}" />
				<span class="mc-button mc-button-icon" mc-action="playlist" data-ng-click="tooglePlayList()"></span>
				<h1 class="mc-title">{{ playing.title }}</h1>
				<h2 class="mc-note">{{ playing.artist }}</h2>
			</div>
			<div class="mc-window-content" mc-layout="list" data-ng-if="playlist">
				<span class="mc-list-item" data-ng-repeat="track in tracklist" data-ng-click="reproduce(track.id)">
					<!-- <span class="mc-button mc-button-icon mc-clickable" mc-action="add"></span> -->
					<h1 class="mc-title">{{ track.title }}</h1>
					<h1 class="mc-note">{{ track.artist }}</h1>
				</span>
			</div>
			<div class="mc-window-content" data-ng-if="!playlist">
				<img src="{{ playing.image }}" />
			</div>
			<div class="mc-window-footer">
				<audio id="soundtrack" src="{{ playing.src }}" ></audio>
				<div class="mc-slider">
					<input type="range" min="0" max="100" value="0" />
					<span class="mc-slider-bg">
						<div class="mc-slider-progress"></div>
						<div class="mc-slider-picker"></div>
					</span>
				</div>
				<!-- <span class="mc-button mc-button-icon" mc-action="volume-up"></span> -->
				<!-- <span class="mc-button mc-button-icon" mc-action="repeat"></span> -->
				<span class="mc-button mc-button-icon" mc-action="music-prev" data-ng-click="prev()"></span>
				<span class="mc-button mc-button-icon" mc-action="play" data-ng-click="play($event)"></span>
				<span class="mc-button mc-button-icon" mc-action="music-next" data-ng-click="next()"></span>
				<!-- <span class="mc-button mc-button-icon" mc-action="random"></span> -->
			</div>
		</div>
		<div class="mc-floating-window mc-hidden" mc-layout="share" >
			<div class="mc-window-header">
				<span class="mc-button mc-button-icon" mc-action="cancel" onclick="javascript:closeShare()"></span>
				<h1 class="mc-title">Share</h1>
			</div>
			<div class="mc-window-content">
				<p class="mc-text">Share this content with any friend you want.</p>
				<br />
				<div class="mc-input">
					<input type="text" value="" id="shareLink"/>
					<label class="mc-label mc-floating-label">Share link</label>
				</div>
				<span class="mc-button mc-button-icon mc-clickable" mc-action="facebook" onclick="javascript:share.facebook()"></span>
				<span class="mc-button mc-button-icon mc-clickable" mc-action="whatsapp" onclick="javascript:share.whatsapp()"></span>
			</div>
		</div>

		<div class="mc-content" data-ng-view=""></div>

		<div class="mc-footer">
			<p class="mc-note">Material CSS &copy;2015 name and its logo are property of <a href="http://www.imperdiblesoft.com" target="_blank">ImperdibleSoft</a> &copy;2012 | Optimized for PCs, Tablets, Mobiles and TVs. | It's recomended the use of Google Chrome</p>
		</div>

		<div class="mc-floating">
			<a class="mc-button mc-button-icon mc-clickable mc-button-raised" mc-action="scroll-down" onclick="javascript:scrollDown()"></a>
		</div>

		<div id="falling-dialog"class="mc-dialog mc-falling-dialog">
			<div class="mc-content">
				<div class="mc-title">Falling dialog</div>
				<p class="mc-text">This is a Falling dialog example.</p>
			</div>
			<div class="mc-footer">
				<span class="mc-button mc-button-text mc-clickable " onclick="javascript:mc.closeDialog('#falling-dialog')">Accept</span>
				<span class="mc-button mc-button-text mc-clickable " onclick="javascript:mc.closeDialog('#falling-dialog')">Close</span>
			</div>
		</div>
		<div id="bottom-dialog" class="mc-dialog mc-bottom-dialog">
			<div class="mc-content">
				<div class="mc-title">Bottom dialog</div>
				<p class="mc-text">This is a Bottom dialog example.</p>
			</div>
			<div class="mc-footer mc-complete-button">
				<span class="mc-button mc-button-text mc-clickable" onclick="javascript:mc.closeDialog('#bottom-dialog')">Let me think about it</span>
				<span class="mc-button mc-button-text mc-clickable" onclick="javascript:mc.closeDialog('#bottom-dialog')">Deny</span>
				<span class="mc-button mc-button-text mc-clickable" onclick="javascript:mc.closeDialog('#bottom-dialog')">Accept</span>
			</div>
		</div>

		<div class="mc-notification-container"></div>

    <!-- inject:js -->
    <!-- endinject -->

  	<script src="http://www.imperdiblesoft.com/js/custom-sign.js"></script>
  </body>
</html>
