
/*	CARDS	*/
.mc-card{
  position: relative;
  display: inline-block;
  float: left;

  width: calc(50% - 20px);
  height: auto;
  margin: 5px 10px;
  padding: 0px;

  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

  &:hover{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }
  &:nth-child(2n+1) {
    clear: both;
  }

  & > .mc-header{
    position: relative;
    display: block;
    float: left;

    width: 100%;
    padding: 10px 0px;
    padding-top: 20px;

    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    & > img{
      position: relative;
      display: inline-block;
      float: left;

      width: 56px;
      height: 56px;
      margin-left: 20px;
      margin-right: 10px;

      border-radius: 50%;
      background-color: #ffffff;
    }
    & > .mc-title, & > .mc-subtitle, & > .mc-text, & > .mc-note{
      line-height: inherit;
    }
    & > .mc-title, & > .mc-subtitle{
      width: calc(100% - 56px - 20px - 10px);
      padding: 5px 16px;
    }
    & > .mc-title{
      font-size: 18px;
      font-weight: bold;
    }
    & > .mc-subtitle{
      font-size: 14px;
    }
  }
  & > .mc-content{
    position: relative;
    display: block;
    float: left;

    width: 100%;
    top: 0px;
    left:0px;
    padding: 0px;

    & > img{
      position: relative;
      display: block;
      float: left;

      width: 100%;
    }
    & > .mc-button{
      margin-left: 16px;
    }
  }
  & > .mc-footer{
    position: relative;
    display: block;
    float: left;

    width: 100%;
    padding: 0px;

    border-top: 1px solid rgba(0, 0, 0, 0.2);

    & > .mc-button{
      margin: 0px;

      color: #9E9E9E;

      background-color: transparent;

      &:hover{
        color: #212121;
      }
    }
    & > .mc-button-icon{
      float: right;

      width: 24px;
      height: 24px;
      margin-top: 6px;
      margin-bottom: 6px;
      margin-right: 10px;

      background-position: 0px 0px;
      border-radius: 2px;
    }
    & > .mc-button-text{
      padding: 10px 5px;
    }
    & > .mc-button-text:first-child:nth-last-child(1),
    & > .mc-button-text:first-child:nth-last-child(1) ~ .mc-button-text,
    & > .mc-button-comb:first-child:nth-last-child(1),
    & > .mc-button-comb:first-child:nth-last-child(1) ~ .mc-button-comb{
      width: 100%;
    }
    & > .mc-button-text:first-child:nth-last-child(2),
    & > .mc-button-text:first-child:nth-last-child(2) ~ .mc-button-text,
    & > .mc-button-comb:first-child:nth-last-child(2),
    & > .mc-button-comb:first-child:nth-last-child(2) ~ .mc-button-comb{
      width: 50%;
    }
    & > .mc-button-text:first-child:nth-last-child(3),
    & > .mc-button-text:first-child:nth-last-child(3) ~ .mc-button-text,
    & > .mc-button-comb:first-child:nth-last-child(3),
    & > .mc-button-comb:first-child:nth-last-child(3) ~ .mc-button-comb{
      width: 33.33%;
    }
    & > .mc-button-text:first-child:nth-last-child(4),
    & > .mc-button-text:first-child:nth-last-child(4) ~ .mc-button-text
    & > .mc-button-comb:first-child:nth-last-child(4),
    & > .mc-button-comb:first-child:nth-last-child(4) ~ .mc-button-comb{
      width: 25%;
    }
  }

  .mc-title{
    width: 100%;
    padding: 16px;
    padding-bottom: 0px;

    font-size: 24px;
  }
  .mc-subtitle{
    margin: 0px;
    padding: 16px;
    padding-bottom: 0px;

    color: #aaa;

    border: none;
  }

  &[mc-layout="header-image"], &[mc-layout="left-image"], &[mc-layout="right-image"]{
    & > .mc-header{
      padding: 0px;

      background: #ddd;
      border: none;

      & > img{
        position: relative;
        display: block;
        float: left;

        width: 100%;
        height: auto;
        margin: 0px;

        border-radius: 0px;
      }
      & > .mc-title{
        margin-top: -40px;
      }
    }
  }
  &[mc-layout="grid-images"]{
    .mc-content{
      width: 100%;
      padding: 0px;

      .mc-grid-item{
        position: relative;
        display: inline-block;
        float: left;

        width: calc(33.3% - 8px);
        height: 50px;
        padding: 0px;
        margin: 4px;

        border: none;
        box-sizing: border-box;
        overflow: hidden;

        & > img{
          position: absolute;
          display: block;
          float: left;

          width: auto;
          height: 100%;
          left: 50%;
          top: 50%;

          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
        & > .mc-legend{
          position: absolute;
          display: none;
          float: left;

          width: 100%;
          bottom: 0px;
          left: 0px;
          padding: 10px;

          color: white;

          background-color: rgba(0, 0, 0, 0.2);
          background-image: url('material-icons/mc-info-dark.png');
          background-repeat: no-repeat;
          background-size: 24px;
          background-position: calc(100% - 4px);
          box-sizing: border-box;
        }
      }
    }
  }
}

// PCs, Tablets, Mobiles and Smartwatches
@media screen and (max-width: $max-pcs){

  // Tablets, Mobiles and Smartwatches
  @media screen and (max-width: $max-tablets){

    .mc-card{
      width: calc(100% - 10px);
      padding: 0px;
      margin: 4px;

      clear: both;
    }

    // Mobiles and Smartwatches
    @media screen and (max-width: $max-mobiles){

      .mc-card{
        width: calc(100% - 8px);
      }
    }
  }
}

// Mobiles, Tablets, PCs and TVs
@media screen and (min-width: $min-mobiles){

  .mc-card{
    &[mc-layout="left-image"], &[mc-layout="right-image"]{

      & > .mc-header{
        position: relative;
        display: inline-block;

        width: 25%;
        height: auto;
        padding: 0px;

        border: none;
        box-sizing: border-box;
        overflow: hidden;

        & > img{
          position: relative;
          display: block;
          float: left;

          width: auto;
          /*	height: 100%;	*/
          left: 50%;
          top: 50%;
          margin: 0px;

          border-radius: 0px;

          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
      }
      & > .mc-content, & > .mc-footer{
        width: 75%;
      }
      & > .mc-content{
        margin-bottom: 38px;
      }
      & > .mc-footer{
        position: absolute;

        bottom: 0px;
      }
    }
    &[mc-layout="left-image"]{
      & > .mc-header{
        float: left;

        border-right: 1px solid rgba(0, 0, 0, 0.2);
      }
      & > .mc-content, & > .mc-footer{
        float: right;
      }
      & > .mc-footer{
        float: right;

        left: 25%;
      }
    }
    &[mc-layout="right-image"]{
      & > .mc-header{
        float: right;

        border-left: 1px solid rgba(0, 0, 0, 0.2);
      }
      & > .mc-content, & > .mc-footer{
        float: left;
      }
      & > .mc-footer{
        float: left;

        left: 0px;
      }
    }
    &[mc-layout="grid-images"]{
      .mc-content{

        .mc-grid-item{
          & > .mc-legend{
            display: block;
          }
        }
      }
    }
  }

  // Tablets, PCs and TVs
  @media screen and (min-width: $min-tablets){

    // PCs and TVs
    @media screen and (min-width: $min-pcs){

    }
  }
}

// Smartwatches
@media screen and (max-width: $max-watches){
  .mc-card{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;

    & > .mc-header, & > .mc-content, & > .mc-footer{
      img{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
      }
      & > .mc-title, & > .mc-subtitle, & > .mc-text, & > .mc-note{
        width: 100%;
        margin: 0px;
      }
      .mc-button-text, .mc-button-comb{
        width: 90%!important;
        height: 46px;
        padding-top: 15px;
        padding-bottom: 14px;
        margin: 9px 5%;
      }
    }
  }
}

// Only Mobiles
@media screen and (min-width: $min-mobiles) and (max-width: $max-mobiles){

  // Landscape
  @media screen and (orientation: landscape){
    .mc-card{
      width: calc(75% - 20px);
      margin-left: 12.5%;
      margin-right: 12.5%;
    }
  }
}

// Only Tablets
@media screen and (min-width: $min-tablets) and (max-width: $max-tablets){

  // Landscape
  @media screen and (orientation: landscape){
    .mc-card{
      width: calc(50% - 20px);
      margin: 5px 10px;

      clear: none;
    }
  }
}

// Only PCs
@media screen and (min-width: $min-pcs) and (max-width: $max-pcs){

}

// Only TVs
@media screen and (min-width: $min-tvs){

  .mc-card{
    width: calc(33.33% - 20px);
    &:nth-child(2n+1) {
      clear: none;
    }
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}
