
/*	CARDS	*/
.mc-card{
  position: relative;
  display: inline-block;
  float: left;

  width: calc(50% - 20px);
  height: auto;
  margin: 5px 10px;
  padding: 0px;

  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.mc-card:hover{
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.mc-card:nth-child(2n+1) {
  clear: both;
}

.mc-card > .mc-header{
  position: relative;
  display: block;
  float: left;

  width: 100%;
  padding: 10px 0px;
  padding-top: 20px;

  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.mc-card > .mc-header > img{
  position: relative;
  display: inline-block;
  float: left;

  width: 56px;
  height: 56px;
  margin-left: 20px;
  margin-right: 10px;

  border-radius: 50%;
  background-color: #ffffff;
}
.mc-card > .mc-header > .mc-title, .mc-card > .mc-header > .mc-subtitle, .mc-card > .mc-header > .mc-text, .mc-card > .mc-header > .mc-note{
  line-height: inherit;
}
.mc-card > .mc-header > .mc-title, .mc-card > .mc-header > .mc-subtitle{
  width: calc(100% - 56px - 20px - 10px);
}
.mc-card > .mc-header > .mc-title{
  font-size: 18px;
  font-weight: bold;
}
.mc-card > .mc-header > .mc-subtitle{
  font-size: 14px;
}

.mc-card > .mc-content{
  position: relative;
  display: block;
  float: left;

  width: 100%;
  top: 0px;
  left:0px;
  padding: 0px;
}
.mc-card > .mc-content > img{
  position: relative;
  display: block;
  float: left;

  width: 100%;
}
.mc-card > .mc-content > .mc-button{
  margin-left: 16px;
}

.mc-card > .mc-footer{
  position: relative;
  display: block;
  float: left;

  width: 100%;
  padding: 0px;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.mc-card > .mc-footer > .mc-button{
  margin: 0px;

  color: #9E9E9E;

  background-color: transparent;
}
.mc-card > .mc-footer > .mc-button:hover{
  color: #212121;
}
.mc-card > .mc-footer > .mc-button-icon{
  float: right;

  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 10px;

  background-position: 0px 0px;
  border-radius: 2px;
}
.mc-card > .mc-footer > .mc-button-text{
  padding: 10px 5px;
}
.mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(1), .mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(1) ~ .mc-button-text, .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(1), .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(1) ~ .mc-button-comb{
  width: 100%;
}
.mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(2), .mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(2) ~ .mc-button-text, .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(2), .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(2) ~ .mc-button-comb{
  width: 50%;
}
.mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(3), .mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(3) ~ .mc-button-text, .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(3), .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(3) ~ .mc-button-comb{
  width: 33.33%;
}
.mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(4), .mc-card > .mc-footer > .mc-button-text:first-child:nth-last-child(4) ~ .mc-button-text, .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(4), .mc-card > .mc-footer > .mc-button-comb:first-child:nth-last-child(4) ~ .mc-button-comb{
  width: 25%;
}

.mc-card .mc-title{
  width: 100%;
  padding: 16px;
  padding-bottom: 0px;

  font-size: 24px;
}
.mc-card .mc-subtitle{
  margin: 0px;
  padding: 16px;
  padding-bottom: 0px;

  color: #aaa;

  border: none;
}
.mc-card > .mc-header > .mc-title, .mc-card > .mc-header > .mc-subtitle{
  padding: 5px 16px;
}

.mc-card[mc-layout="header-image"] > .mc-header{
  padding: 0px;

  background: #ddd;
  border: none;
}
.mc-card[mc-layout="header-image"] > .mc-header > img{
  position: relative;
  display: block;
  float: left;

  width: 100%;
  height: auto;
  margin: 0px;

  border-radius: 0px;
}
.mc-card[mc-layout="header-image"] > .mc-header > .mc-title{
  margin-top: -40px;
}

.mc-card[mc-layout="left-image"] > .mc-header, .mc-card[mc-layout="right-image"] > .mc-header{
  position: relative;
  display: inline-block;

  width: 25%;
  height: auto;
  padding: 0px;

  border: none;
  box-sizing: border-box;
  overflow: hidden;
}
.mc-card[mc-layout="left-image"] > .mc-header > img, .mc-card[mc-layout="right-image"] > .mc-header > img{
  position: relative;
  display: block;
  float: left;

  width: auto;
  /*	height: 100%;	*/
  left: 50%;
  top: 50%;
  margin: 0px;

  border-radius: 0px;

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.mc-card[mc-layout="left-image"] > .mc-content, .mc-card[mc-layout="left-image"] > .mc-footer, .mc-card[mc-layout="right-image"] > .mc-content, .mc-card[mc-layout="right-image"] > .mc-footer{
  width: 75%;
}
.mc-card[mc-layout="left-image"] > .mc-content, .mc-card[mc-layout="right-image"] > .mc-content{
  margin-bottom: 38px;
}
.mc-card[mc-layout="left-image"] > .mc-footer, .mc-card[mc-layout="right-image"] > .mc-footer{
  position: absolute;

  bottom: 0px;
}

.mc-card[mc-layout="left-image"] > .mc-header{
  float: left;

  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.mc-card[mc-layout="left-image"] > .mc-content, .mc-card[mc-layout="left-image"] > .mc-footer{
  float: right;
}
.mc-card[mc-layout="left-image"] > .mc-footer{
  float: right;

  left: 25%;
}

.mc-card[mc-layout="right-image"] > .mc-header{
  float: right;

  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.mc-card[mc-layout="right-image"] > .mc-content, .mc-card[mc-layout="right-image"] > .mc-footer{
  float: left;
}
.mc-card[mc-layout="right-image"] > .mc-footer{
  float: left;

  left: 0px;
}

.mc-card[mc-layout="grid-images"] > .mc-content{
  width: 100%;
  padding: 4px;
}
.mc-card[mc-layout="grid-images"] > .mc-content .mc-grid-item{
  position: relative;
  display: inline-block;
  float: left;

  width: calc(33.3% - 8px);
  height: 50px;
  padding: 0px;
  margin: 4px;

  border: none;
  box-sizing: border-box;
  overflow: hidden;
}
.mc-card[mc-layout="grid-images"] > .mc-content .mc-grid-item > img{
  position: absolute;
  display: block;
  float: left;

  width: auto;
  height: 100%;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.mc-card[mc-layout="grid-images"] > .mc-content .mc-grid-item > .mc-legend{
  position: absolute;
  display: block;
  float: left;

  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 10px;

  color: white;

  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('material-icons/mc-info-dark.png');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: calc(100% - 4px);
  box-sizing: border-box;
}

// PCs, Tablets, Mobiles and Smartwatches
@media screen and (max-width: $max-pcs){

  // Tablets, Mobiles and Smartwatches
  @media screen and (max-width: $max-tablets){

    .mc-card{
      width: calc(100% - 10px);
      padding: 0px;
      margin: 4px;

      clear: both;
    }

    // Mobiles and Smartwatches
    @media screen and (max-width: $max-mobiles){

      .mc-card{
        width: calc(100% - 8px);
      }
    }
  }
}

// Mobiles, Tablets, PCs and TVs
@media screen and (min-width: $min-mobiles){

  // Tablets, PCs and TVs
  @media screen and (min-width: $min-tablets){

    // PCs and TVs
    @media screen and (min-width: $min-pcs){

    }
  }
}

// Smartwatches
@media screen and (max-width: $max-watches){
  .mc-card{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;

    & > .mc-header, & > .mc-content, & > .mc-footer{
      img{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
      }

      & > .mc-title, & > .mc-subtitle, & > .mc-text, & > .mc-note{
        width: 100%;
        margin: 0px;
      }
    }
  }
}

// Only Mobiles
@media screen and (min-width: $min-mobiles) and (max-width: $max-mobiles){

  // Landscape
  @media screen and (orientation: landscape){
    .mc-card{
      width: calc(75% - 20px);
      margin-left: 12.5%;
      margin-right: 12.5%;
    }
  }
}

// Only Tablets
@media screen and (min-width: $min-tablets) and (max-width: $max-tablets){

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only PCs
@media screen and (min-width: $min-pcs) and (max-width: $max-pcs){

}

// Only TVs
@media screen and (min-width: $min-tvs){

  .mc-card{
    width: calc(33.33% - 20px);
  }
  .mc-card:nth-child(2n+1) {
    clear: none;
  }
  .mc-card:nth-child(3n+1) {
    clear: both;
  }

}
