
/*	FLOATING WINDOWS	*/
body {
  & > .mc-floating-window {
    position: fixed;
    display: block;
    float: left;

    width: 296px;
    height: auto;
    max-height: 100%;
    bottom: -352px;
    right: 128px;
    margin: 0px;
    padding: 0px;

    background-color: #EEEEEE;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
    z-index: 350;

    .mc-title, .mc-subtitle, .mc-text, .mc-note {
      line-height: inherit;
    }

    .mc-window-header, .mc-window-content, .mc-window-footer {
      position: relative;
      display: block;
      float: left;

      width: 100%;
      top: 0px;
      left: 0px;
      padding: 0px;
      margin: 0px;

      background-color: #F9F9F9;
      box-sizing: border-box;
    }

    .mc-window-header{
      height: 56px;
      padding: 8px;

      background-color: #EEEEEE;
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 16px;

      cursor: pointer;

      .mc-title, .mc-subtitle, .mc-text, .mc-note{
        position: relative;
        display: inline-block;
        float: left;

        width: 100%;
        padding: 0px;

        text-align: center;
        text-transform: none;
        text-decoration: none;
        border: 0px;
      }
      .mc-title, .mc-subtitle{
        font-size: 16px;
      }
      .mc-text, .mc-note{
        font-size: 14px;
      }

      img{
        position: relative;
        display: inline-block;
        float: left;

        width: 40px;
        height: 40px;
        padding: 0px;
        margin: 0px;
        margin-right: 16px;

        border-radius: 50%;
        background-color: #ffffff;

        & ~ .mc-title, & ~ .mc-subtitle, & ~ .mc-text, & ~ .mc-note{
          width: calc(100% - 56px);

          text-align: left;
        }
      }

      .mc-button{
        position: absolute;
        display: block;
        float: right;

        right: 8px;
        top: 10px;
        margin: 0px;

        background-color: #EEEEEE;

        &:active{
          background-color: #DDDDDD;
        }

        & ~ .mc-title, & ~ .mc-subtitle, & ~ .mc-text, & ~ .mc-note{
          width: calc(100% - 40px);

          text-align: left;
          word-wrap: break-word;
        }
      }

      img ~ .mc-button{
        & ~ .mc-title, & ~ .mc-subtitle, & ~ .mc-text, & ~ .mc-note{
          width: calc(100% - 40px - 56px);

          text-align: left;
          word-wrap: break-word;
        }
      }

      &[mc-action]{
        padding-left: 72px;

        img{
          display: none;
        }
        .mc-title, .mc-subtitle, .mc-text, .mc-note{
          width: 100%;

          text-align: left;
        }
      }
    }
    .mc-window-content{
      height: 296px;

      text-align: center;

      overflow-x: hidden;
      overflow-y: auto;
    }
    .mc-window-footer{
      height: 56px;
    }

    /*	SHARE	*/
    &[mc-layout="share"]{
      & > .mc-window-content{
        height: 352px;

        .mc-button-icon{
          width: 56px;
          height: 56px;

          background-color: transparent;
          background-size: 38px;
          background-position: 9px 9px;
        }
        .mc-input{
          width: calc(100% - 20px);
        }
      }
      & > .mc-window-footer{
        display: none;
      }
    }

    /*	CHAT	*/
    &[mc-layout="chat"] {
      .mc-message {
        position: relative;
        display: block;
        float: left;

        width: 100%;
        margin: 0px;
        padding: 5px 10px;

        box-sizing: border-box;
        clear: both;

        img {
          position: relative;
          display: inline-block;
          float: left;

          width: 32px;
          height: 32px;
          padding: 0px;
          margin: 0px;
          margin-left: 0px;
          margin-right: 5px;

          border-radius: 50%;
        }
        .mc-title, .mc-subtitle, .mc-text, .mc-note {
          position: relative;
          display: inline-block;
          float: left;

          max-width: calc(100% - 52px);
          padding: 5px;
          margin: 0px;

          background-color: #FFFFFF;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          border-radius: 3px;
        }

        &.mc-own {
          img {
            float: right;

            margin-left: 5px;
            margin-right: 0px;
          }
          .mc-title, .mc-subtitle, .mc-text, .mc-note {
            float: right;

            text-align: right;

            background-color: #E0E0E0;
          }
        }
      }

      input[type="text"] {
        position: relative;
        display: block;
        float: left;

        width: calc(100% - 56px);
        height: 56px;
        padding: 5px;
        margin: 0px;

        border: 0px solid transparent;
        box-sizing: border-box;
      }
    }

    /*	MULTIMEDIA	*/
    &[mc-layout="multimedia"] {
      audio {
        display: none!important;
      }

      & > .mc-window-content {
        & > img {
          max-width: 100%;
          max-height: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        &[mc-layout="list"] .mc-list-item {
          cursor: pointer;
        }
      }

      & > .mc-window-footer {
        .mc-slider {
          padding: 0px;
          margin: 0px;
          margin-top: -10px;
        }

        & > .mc-button-icon[mc-action="play"],
        & > .mc-button-icon[mc-action="pause"],
        & > .mc-button-icon[mc-action="stop"] {
          background-size: 32px;
          background-position: 3px 3px;
        }

        & > .mc-button-icon:nth-child(3):nth-last-child(1),
        & > .mc-button-icon:nth-child(3):nth-last-child(1) ~ .mc-button-icon {
          margin-left: calc((100% - 38px) / 2);
          margin-right: calc((100% - 38px) / 2);
        }
        & > .mc-button-icon:nth-child(3):nth-last-child(2),
        & > .mc-button-icon:nth-child(3):nth-last-child(2) ~ .mc-button-icon {
          margin-left: calc((100% - 76px) / 4);
          margin-right: calc((100% - 76px) / 4);
        }
        & > .mc-button-icon:nth-child(3):nth-last-child(3),
        & > .mc-button-icon:nth-child(3):nth-last-child(3) ~ .mc-button-icon {
          margin-left: calc((100% - 114px) / 6);
          margin-right: calc((100% - 114px) / 6);
        }
        & > .mc-button-icon:nth-child(3):nth-last-child(4),
        & > .mc-button-icon:nth-child(3):nth-last-child(4) ~ .mc-button-icon {
          margin-left: calc((100% - 152px) / 8);
          margin-right: calc((100% - 152px) / 8);
        }
        & > .mc-button-icon:nth-child(3):nth-last-child(5),
        & > .mc-button-icon:nth-child(3):nth-last-child(5) ~ .mc-button-icon {
          margin-left: calc((100% - 190px) / 10);
          margin-right: calc((100% - 190px) / 10);
        }
        & > .mc-button-icon:nth-child(3):nth-last-child(6),
        & > .mc-button-icon:nth-child(3):nth-last-child(6) ~ .mc-button-icon {
          margin-left: calc((100% - 228px) / 12);
          margin-right: calc((100% - 228px) / 12);
        }
      }
    }

    /* COMMON */
    &[mc-layout="chat"],
    &[mc-layout="multimedia"] {
      .mc-window-content,
      .mc-window-footer {
        .mc-button-icon {
          background-color: transparent;

          &:active {
            background-color: #DDDDDD;
          }
        }
      }
    }

    &.mc-opened {
      bottom: 0px;
    }
  }

  &[mc-layout="front"] > .mc-floating-window{
    right: 24px;
  }
}

// PCs, Tablets, Mobiles and Smartwatches
@media screen and (max-width: $max-pcs){

  // Tablets, Mobiles and Smartwatches
  @media screen and (max-width: $max-tablets){

    body > .mc-floating-window {
      &[mc-layout="chat"] {
        .mc-message {
          .mc-title, .mc-subtitle, .mc-text, .mc-note{
            padding: 10px;
          }
        }
      }
    }

    // Mobiles and Smartwatches
    @media screen and (max-width: $max-mobiles){

    }
  }
}

// Mobiles, Tablets, PCs and TVs
@media screen and (min-width: $min-mobiles){

  // Tablets, PCs and TVs
  @media screen and (min-width: $min-tablets){

    body > .mc-floating-window[mc-layout="share"]{
      float: none;

      left: 50%;
      right: auto;
      top: auto;
      margin: 0px;
      margin-left: -148px;
    }

    // PCs and TVs
    @media screen and (min-width: $min-pcs){

    }
  }
}

// Smartwatches
@media screen and (max-width: $max-watches){

}

// Only Mobiles
@media screen and (min-width: $min-mobiles) and (max-width: $max-mobiles){

  body {
    & > .mc-floating-window, &[mc-layout="front"] > .mc-floating-window {
      width: 100%;
      max-height: 100%;
      top: calc(100% - 56px);
      bottom: auto;
      left: 0px;
      right: 0px;
    }
    & > .mc-floating-window.mc-opened {
      top: auto;
      bottom: 0px;
    }
  }

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only Tablets
@media screen and (min-width: $min-tablets) and (max-width: $max-tablets){

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only PCs
@media screen and (min-width: $min-pcs) and (max-width: $max-pcs){

}

// Only TVs
@media screen and (min-width: $min-tvs){

}
