
/*	NOTIFICATIONS	*/
.mc-notification-container{
  position: fixed;
  display: block;
  float: left;

  width: auto;
  left: 30px;
  bottom: 20px;

  z-index: 400;
}
.mc-notification-container .mc-notification{
  position: relative;
  display: block;
  float: left;

  min-width: 300px;
  max-width: 570px;
  width: auto;
  height: auto;
  margin-bottom: 10px;

  background: #323232;
  border-radius: 3px;
  box-sizing: border-box;
  clear: both;
}
.mc-notification-container .mc-notification .mc-button{
  position: relative;
  display: inline-block;
  float: right;
}
.mc-notification-container .mc-notification .mc-title, .mc-notification-container .mc-notification .mc-subtitle, .mc-notification-container .mc-notification .mc-text, .mc-notification-container .mc-notification .mc-note{
  max-width: 100%;
  padding: 16px;
  margin: 0px;

  color: #FFFFFF;

  border: none;
}
.mc-notification-container .mc-notification .mc-title, .mc-notification-container .mc-notification .mc-subtitle, .mc-notification-container .mc-notification .mc-text{
  font-size: 14px;
}
.mc-notification-container .mc-notification .mc-button-comb + .mc-title, .mc-notification-container .mc-notification .mc-button-comb + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-comb + .mc-text, .mc-notification-container .mc-notification .mc-button-comb + .mc-note{
  max-width: 440px;
}
.mc-notification-container .mc-notification .mc-button-text + .mc-title, .mc-notification-container .mc-notification .mc-button-text + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-text + .mc-text, .mc-notification-container .mc-notification .mc-button-text + .mc-note{
  max-width: 470px;
}
.mc-notification-container .mc-notification .mc-button-icon + .mc-title, .mc-notification-container .mc-notification .mc-button-icon + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-icon + .mc-text, .mc-notification-container .mc-notification .mc-button-icon + .mc-note{
  max-width: 522px;
}
.mc-notification-container .mc-notification .mc-button{
  float: right;

  margin: 5px;

  color: #ffffff;
  font-weight: normal;

  background-color: transparent;
}
.mc-notification-container .mc-notification .mc-button:active{
  background-color: #515151;
}

// PCs, Tablets, Mobiles and Smartwatches
@media screen and (max-width: $max-pcs){

  // Tablets, Mobiles and Smartwatches
  @media screen and (max-width: $max-tablets){

    // Mobiles and Smartwatches
    @media screen and (max-width: $max-mobiles){

      .mc-notification-container{
        width: 100%;
        max-width: 100%;
        left: 0px;
        bottom: 0px;
      }
      .mc-notification-container .mc-notification{
        width: 100%;
        max-width: 100%;
        margin: 0px;

        border-radius: 0px;
      }
      .mc-notification-container .mc-notification .mc-title, .mc-notification-container .mc-notification .mc-subtitle, .mc-notification-container .mc-notification .mc-text, .mc-notification-container .mc-notification .mc-note{
        max-width: 100%;

        color: #FFFFFF;
      }
      .mc-notification-container .mc-notification .mc-button-comb + .mc-title, .mc-notification-container .mc-notification .mc-button-comb + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-comb + .mc-text, .mc-notification-container .mc-notification .mc-button-comb + .mc-note{
        max-width: calc(100% - 130px);
      }
      .mc-notification-container .mc-notification .mc-button-text + .mc-title, .mc-notification-container .mc-notification .mc-button-text + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-text + .mc-text, .mc-notification-container .mc-notification .mc-button-text + .mc-note{
        max-width: calc(100% - 100px);
      }
      .mc-notification-container .mc-notification .mc-button-icon + .mc-title, .mc-notification-container .mc-notification .mc-button-icon + .mc-subtitle, .mc-notification-container .mc-notification .mc-button-icon + .mc-text, .mc-notification-container .mc-notification .mc-button-icon + .mc-note{
        max-width: calc(100% - 48px);
      }
    }
  }
}

// Mobiles, Tablets, PCs and TVs
@media screen and (min-width: $min-mobiles){

  // Tablets, PCs and TVs
  @media screen and (min-width: $min-tablets){

    // PCs and TVs
    @media screen and (min-width: $min-pcs){

    }
  }
}

// Smartwatches
@media screen and (max-width: $max-watches){
  .mc-notification-container{
    .mc-notification{
      min-width: 0px;
      
      .mc-button-text, .mc-button-comb{
        width: auto;
      }
    }
  }
}

// Only Mobiles
@media screen and (min-width: $min-mobiles) and (max-width: $max-mobiles){

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only Tablets
@media screen and (min-width: $min-tablets) and (max-width: $max-tablets){

  // Landscape
  @media screen and (orientation: landscape){

  }
}

// Only PCs
@media screen and (min-width: $min-pcs) and (max-width: $max-pcs){

}

// Only TVs
@media screen and (min-width: $min-tvs){

}
